@model IEnumerable<Projeto_Copa_do_Mundo.Models.JogadorVM>

@{
    ViewBag.Title = "Listar Jogadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.Count() > 0)
{
    <div>
        <table border="1" cellpadding="2" cellspacing="2" style="width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Posição</th>
                    <th>Data de Nascimento</th>
                    <th>Seleção</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Nome)</td>
                        <td>@Html.DisplayFor(model => item.Posicao)</td>
                        <td>@Html.DisplayFor(model => item.Nascimento)</td>
                        <td>@Html.DisplayFor(model => item.Selecao.Pais)</td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                            @Html.ActionLink("Editar", "Remover", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div>Nenhum jogador cadastrado</div>
}
